---
import '@/styles/base/_index.scss';
import projectData from '@/data/project.ts';
const { siteUrl, siteName, siteDescription } = projectData;

const title = (Astro.props.title && `${Astro.props.title} | `) + siteName;
const description = Astro.props.description || siteDescription;
const url = Astro.url || siteUrl;
const ogImgUrl = url + 'ogp.png';
const googleFont = null; // ex: 'https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap';

const baseUrl = import.meta.env.BASE_URL;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{title}</title>
  <meta name="description" content={description} />

  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={url} />
  <meta property="og:image" content={ogImgUrl} />
  <meta property="og:site_name" content={title} />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:url" content={url} />
  <meta name="twitter:image" content={ogImgUrl} />

  <link rel="canonical" href={url} />

  <link rel="icon" href=`${baseUrl}favicon.ico` sizes="32x32" />
  <link rel="icon" href=`${baseUrl}favicon.svg` sizes="any" type="image/svg+xml" />
  <link rel="apple-touch-icon" href=`${baseUrl}apple-touch-icon.png` />
  {
    googleFont && (
      <>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preload" as="style" fetchpriority="high" href={googleFont} />
        <link rel="stylesheet" href={googleFont} media="print" onload='this.media="all"' />
      </>
    )
  }
</head>
